<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>          
	<h1>Edit your version!</h1>
    <p> This gossip is not accurate enough, or is perhaps totally different?</p>
    <form action='/gossips/new/' method='POST'>
      Your name : <input type='text' name='gossip_new_author'/><br/>
      Your gossip : <input type='text' name='gossip_new_content'/><br/>
      <input type='submit'/>
    </form>

  </body>
</html>
