<html>
    <head>
    <title>The Gossip Project</title>
    </head>
    <body>
        <h1>Psst! Here is Gossip Number  <%= id %>!!</h1>

        <p>
        Gossip creator ==  <%= gossip.author %>  ==<br/>
        Gossip content ==  <%= gossip.content %>  ==
        </p>

        <a href="/">Here is the Gossip ProJect Homepage <br/> </a>

        <a href="/gossips/<%= id %>/edit">You can edit this gossip here!</a>

    </body>
</html>
