<html>
  <head>
    <title>Share your gossip</title>
  </head>
  <body>
    <h1>Share your gossips with us!</h1>
    <p>Here is where you can add the hottest news you heard about :</p>
    <form action='/gossips/new/' method='POST'>
      Your name :  <input type='text' name='gossip_author'/><br/>
      Your story : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>
